form {
    background-color: #f4f6f8;
    padding: 2rem;
    border-radius: .25rem;
    border: 2px solid #ededed;
}

.form-control {
    border-radius: .25rem;
    border: 2px solid #ededed;
}

.form-control:focus {
    border: 2px solid $primary;
    box-shadow: none;
}

